<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="interval" value="30" />
    <add key="Camera1" value="C:\IWT" />
    <add key="Camera2" value="C:\IWT" />
    <add key="Camera3" value="C:\IWT" />
    <add key="Camera4" value="C:\IWT" />
  </appSettings>
  <connectionStrings>
    <add name="sqlDbConnection" connectionString="Data Source=192.168.0.28,1434;Initial Catalog=IWT-AWS;User ID=dev1;Password=welcome@123" providerName="System.Data.SqlClient" />
    <add name="oracleDbConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.28)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XEPDB1)));User Id=ESSAE;Password=essae@123;" providerName="OraOLEDB.Oracle" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.PerformanceCounter" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>