<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Camera1" value="C:\IWT\Camera" />
		<add key="Camera2" value="C:\IWT\Camera" />
		<add key="Camera3" value="C:\IWT\Camera" />
		<add key="Camera4" value="C:\IWT\Camera" />
	</appSettings>
	<connectionStrings>
		<add name="sqlDbConnection" connectionString="Data Source=192.168.0.28,1434;Initial Catalog=IWT-AWS;User ID=dev1;Password=welcome@123" providerName="System.Data.SqlClient"/>
		<add name="oracleDbConnection" connectionString="Data Source=192.168.0.28,1434;Initial Catalog=Oracle_Data_Sync;Persist Security Info=True;User ID=dev1;Password=welcome@123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
